# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
COMP4106_Project/Logs/180422_092355_A2.log
COMP4106_Project/Release/vc141.pdb
COMP4106_Project/x64/
COMP4106_Project/Logs/
x64/
COMP4106_Project/Debug/
COMP4106_Project/Release/
.vs/
